<div class="container d-flex">
  <div>
    <p></p>
  </div>
</div>
<div class="d-flex">
  <div class="me-5">
    <%= image_tag avatar_url(@user, 200)%>
  </div>
  <div>
    <p>Full name: <%= @user.full_name%></p>
    <p>Email: <%= @user.email%></p>
    <p>About: <%= @user.about%></p>
  </div>
</div>
