<div class = "centered">
  <h1>Welcome to InstaGro app</h1>
  <p>Please sign in or register a new account to continue</p>
  <%= link_to "Sign in", new_user_session_path, class: "btn btn-dark" %>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-secondary" %>
</div>
