<div class="centered">
  <h1>About page</h1>
  <div class="mt-2">
    <p>This is a sample blog app.</p>
    <p>Created by: Evgeny Skaletskii</p>
    <p>Email: evgeny.skaletskii@jetruby.com</p>
    <p class="text-secondary">Gro was informed</p>
  </div>
</div>
