<%= form_with(model: @comment, url: "/comments", scope: :comment, local: true) do |f| %>
  <%= f.hidden_field :post_id, value: post.id %>
  <div class="d-flex">
    <div class="field me-3 w-100">
      <%= f.text_field :content, class: "form-control comment-field", placeholder: "Comment...", autocomplete: "off" %>
    </div>
    <%= f.submit "Comment", class: "btn btn-dark" %>
  </div>
<% end %>
