/*NAVBAR*/
.navbar-brand {
    font-size: xx-large;
}
/*FORMS*/
.form-container {
    width: 400px;
}

.form-link {
    color: #428bca;
    text-decoration: none;
}

.centered {
    margin: auto;
}

/*COLUMNS*/
.gap {
    column-gap: 40px;
}

.left-column {
    max-width: 550px;
}

/*DEBUG*/
@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}

/*POSTS*/
.posts {
    max-width: 700px;
}
.simple-link {
    text-decoration: none;
}
.align-right {
    float: right;
}

/* .post-image {
    max-width: 500px;
} */

.update-link,
.delete-link {
    text-decoration: none;
    color: black;
}

/*USERS*/
.user-card {
    width: 500px;
}

#follow-button {
    width: 100px;
}

.avatar-medium {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.avatar-small {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
/*LIKES*/
